page-home {
    // background-image: url(../assets/imgs/isometropolis.jpg)
    background-color: white;
}

.bird {
    height: 30%;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.enemy {
    background-image: url(../assets/imgs/stone.jpg);
    width: 10%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}