page-home {
    background-image: url(../assets/imgs/isometropolis.jpg);

  .bird {
      height: 10%;
      position: absolute;
      left: 10%;
  }

  .wall {
      background-image: url(../assets/imgs/stone.jpg);
      width: 10%;
      height: 100%;
      position: absolute;
  }
}
