page-home {
    background-image: url(../assets/imgs/isometropolis.jpg);

  .bird {
      height: 5%;
      position: absolute;
      left: 10%;
  }

  .enemy {
      background-image: url(../assets/imgs/stone.jpg);
      width: 10%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
